<h1>Welcome to your polling place.</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3> Poll Information </h3>
            <b>Polling Location:</b> <%= @poll[:polling_name] %>
            <br>
            <b>Polling Location Address:</b> <%= @poll[:polling_address] %>
            <br>
            <b>Accessible?</b> <%= @poll[:accessible] %>
            <br>
            <b>Township & Precinct:</b> <%= @poll[:township] %>
            <br>
            <b>Last reported wait time:</b> <%= @recent_wait_time[:line_time] %> minutes at 

            <!-- Using strftime to show when last issue was reported -->

            <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%l")
            %>:<%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%M")
            %> <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%p")
            %> <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%Z")
            %> on <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%F")
            %>

            <br>
            <b>Avg reported wait time:</b> <%= @avg_wait_time%> minutes
            <br>
            <b>Issues reported:</b> <%= @num_issues%> issues reported
        </div>
    </div>
</div>

<div class="container">   
    <h3> Reported Wait Times </h3>
        <% for poll in @time_table%>
            <div class="row">
                <div class="col-4">
                    Date: 

                    <!-- strftime conversion -->
                        <%= Time.at(poll[:date_time_reported].to_i).strftime("%F")%>

                </div>
                <div class="col-4">
                    Time: 
                        <%= Time.at(poll[:date_time_reported].to_i).strftime("%l")
                        %>:<%= 
                        Time.at(poll[:date_time_reported].to_i).strftime("%M")
                        %> <%= 
                        Time.at(poll[:date_time_reported].to_i).strftime("%p")
                        %> <%= 
                        Time.at(poll[:date_time_reported].to_i).strftime("%Z")
                        %>
                </div>
                <div class="col-4">
                Reported Wait: 
                        <%= poll[:line_time]%> minutes
                </div>
            </div>
        <% end%>
</div>    

<div class="container">
    <h3> Reported Issues </h3>
        <% for poll in @issue_table%>
            <div class="row">
                <div class="col-4">
                    Date: 
                    <%= Time.at(poll[:date_time_reported].to_i).strftime("%F")%>
                </div>
                <div class="col-4">
                    Issue Type: 
                    <%= poll[:issue_type]%>
                </div>
                <div class="col-4">
                    Issue Details: 
                    <%= poll[:issue_text]%>
                </div>
            </div>
        <% end %>

</div>



            



