<h1>Welcome to your polling place.</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>
            Your address: <%=@my_address%>
            </h3>
            <br>
            <b>Polling Location Name:</b> <%= @poll[:polling_name] %>
            <br>
            <b>Polling Location Address:</b> <%= @poll[:polling_address] %>
            <br>
            <b>Accessible?</b> <%= @poll[:accessible] %>
            <br>
            <b>Township & Precinct:</b> <%= @poll[:township] %>
            <br>
            <br>
            <b>Last reported wait time:</b> <%= @recent_wait_time[:line_time] %> minutes at 

            <!-- Using strftime to show when last issue was reported -->

            <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%l")
            %>:<%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%M")
            %> <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%p")
            %> <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%Z")
            %> on <%= 
            Time.at(@recent_wait_time[:date_time_reported].to_i).strftime("%F")
            %>

            <br>
            <b>Avg reported wait time:</b> <%= @avg_wait_time%> minutes
            <br>
            <b>Issues reported:</b> <%= @num_issues%> issues reported
        </div>

        <div class="col-6">
            <form action="/polling_locations/<%=@poll[:id]%>/time/create" method="post">
            <div class="form-group">
                <label for="exampleFormControlSelect1">My wait time is:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="line_time">
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="25">25 minutes</option>
                <option value="30">30 minutes</option>
                <option value="35">35 minutes</option>
                <option value="40">40 minutes</option>
                <option value="45">45 minutes</option>
                <option value="50">50 minutes</option>
                <option value="55">55 minutes</option>
                <option value="60">60 minutes</option>
                <option value="120">2 hours</option>
                <option value="180">3 hours</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            
            </form>

            <br><br>
            Report an Issue
            <form action="/polling_locations/<%=@poll[:id]%>/issue/create" method="post">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Issue Type</label>
                <select class="form-control" id="exampleFormControlSelect1" name="issue_type">
                <option>Voter Intimidation</option>
                <option>Registration</option>
                <option>Misinformation</option>
                <option>Sanitation</option>
                <option>Other - specify below</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Issue Details</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="issue_details" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        
            <div class="container mt-5">
                <h4>Your Polling Location:</h4>
                <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=<%=@googlemaps_sid%>
                    &q=<%= @lat_long %>&zoom=14" allowfullscreen>
                </iframe>
            </div>
    </div>
</div>
